<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_6_kosO11Eeaky9HhW8GsWQ" specification="interface:&#xD;&#xA;in event start&#xD;&#xA;in event white&#xD;&#xA;in event black&#xD;&#xA;var whiteTime:integer = 60&#xD;&#xA;var blackTime:integer = 60" name="example">
    <regions xmi:id="_r87VI4KjEeukfazm-2NY4Q" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_r9ShiIKjEeukfazm-2NY4Q">
        <outgoingTransitions xmi:id="_r9TvpIKjEeukfazm-2NY4Q" target="_r9J-oIKjEeukfazm-2NY4Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r9J-oIKjEeukfazm-2NY4Q" name="Init" incomingTransitions="_r9TvpIKjEeukfazm-2NY4Q">
        <outgoingTransitions xmi:id="_r9OQEIKjEeukfazm-2NY4Q" specification="start" target="_r87VMIKjEeukfazm-2NY4Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r9HiaIKjEeukfazm-2NY4Q" name="Black" incomingTransitions="_r9GURYKjEeukfazm-2NY4Q"/>
      <vertices xsi:type="sgraph:State" xmi:id="_r87VMIKjEeukfazm-2NY4Q" specification="" name="White" incomingTransitions="_r9OQEIKjEeukfazm-2NY4Q _r88jRIKjEeukfazm-2NY4Q">
        <outgoingTransitions xmi:id="_r9GURYKjEeukfazm-2NY4Q" specification="white" target="_r9HiaIKjEeukfazm-2NY4Q"/>
        <outgoingTransitions xmi:id="_r88jRIKjEeukfazm-2NY4Q" specification="after 1 s/&#xD;&#xA;whiteTime-=1" target="_r87VMIKjEeukfazm-2NY4Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_6_tyoO11Eeaky9HhW8GsWQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_6_kosO11Eeaky9HhW8GsWQ" measurementUnit="Pixel">
    <children xmi:id="_r86HAIKjEeukfazm-2NY4Q" type="Region" element="_r87VI4KjEeukfazm-2NY4Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_r87VIIKjEeukfazm-2NY4Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r87VIoKjEeukfazm-2NY4Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r87VIYKjEeukfazm-2NY4Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_r86uEoKjEeukfazm-2NY4Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_r9R6dIKjEeukfazm-2NY4Q" type="Entry" element="_r9ShiIKjEeukfazm-2NY4Q">
          <children xmi:id="_r9ShgoKjEeukfazm-2NY4Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_r9ShhYKjEeukfazm-2NY4Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_r9Shh4KjEeukfazm-2NY4Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_r9ShhoKjEeukfazm-2NY4Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9ShhIKjEeukfazm-2NY4Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9Shg4KjEeukfazm-2NY4Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9ShgYKjEeukfazm-2NY4Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_r9ShgIKjEeukfazm-2NY4Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9R6dYKjEeukfazm-2NY4Q" x="129" y="13"/>
        </children>
        <children xmi:id="_r9JXmYKjEeukfazm-2NY4Q" type="State" element="_r9J-oIKjEeukfazm-2NY4Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_r9JXmoKjEeukfazm-2NY4Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9JXm4KjEeukfazm-2NY4Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r9JXnIKjEeukfazm-2NY4Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9JXnYKjEeukfazm-2NY4Q" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_r9JXnoKjEeukfazm-2NY4Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9JXn4KjEeukfazm-2NY4Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9JXoIKjEeukfazm-2NY4Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9JXoYKjEeukfazm-2NY4Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r9JXooKjEeukfazm-2NY4Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r9JXo4KjEeukfazm-2NY4Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9JXpIKjEeukfazm-2NY4Q" x="60" y="-3"/>
        </children>
        <children xmi:id="_r9G7VoKjEeukfazm-2NY4Q" type="State" element="_r9HiaIKjEeukfazm-2NY4Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_r9G7V4KjEeukfazm-2NY4Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9G7WIKjEeukfazm-2NY4Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r9G7WYKjEeukfazm-2NY4Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9G7WoKjEeukfazm-2NY4Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r9G7W4KjEeukfazm-2NY4Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9G7XIKjEeukfazm-2NY4Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9G7XYKjEeukfazm-2NY4Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9G7XoKjEeukfazm-2NY4Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r9G7X4KjEeukfazm-2NY4Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r9G7YIKjEeukfazm-2NY4Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9G7YYKjEeukfazm-2NY4Q" x="169" y="92"/>
        </children>
        <children xmi:id="_r87VJIKjEeukfazm-2NY4Q" type="State" element="_r87VMIKjEeukfazm-2NY4Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_r87VJYKjEeukfazm-2NY4Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r87VJoKjEeukfazm-2NY4Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r87VJ4KjEeukfazm-2NY4Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r87VKIKjEeukfazm-2NY4Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r87VKYKjEeukfazm-2NY4Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r87VKoKjEeukfazm-2NY4Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r87VK4KjEeukfazm-2NY4Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r87VLIKjEeukfazm-2NY4Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r87VLYKjEeukfazm-2NY4Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r87VLoKjEeukfazm-2NY4Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r87VL4KjEeukfazm-2NY4Q" x="54" y="92"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r86uE4KjEeukfazm-2NY4Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_r86uEYKjEeukfazm-2NY4Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r86uEIKjEeukfazm-2NY4Q" x="220" y="10" width="311" height="251"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_6_7OAO11Eeaky9HhW8GsWQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_6_71EO11Eeaky9HhW8GsWQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6_71Ee11Eeaky9HhW8GsWQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6_71Eu11Eeaky9HhW8GsWQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6_71E-11Eeaky9HhW8GsWQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6_71FO11Eeaky9HhW8GsWQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6_71Fe11Eeaky9HhW8GsWQ" x="10" y="10" width="200" height="251"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_6_tyoe11Eeaky9HhW8GsWQ"/>
    <edges xmi:id="_r9TIkIKjEeukfazm-2NY4Q" type="Transition" element="_r9TvpIKjEeukfazm-2NY4Q" source="_r9R6dIKjEeukfazm-2NY4Q" target="_r9JXmYKjEeukfazm-2NY4Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_r9TvoYKjEeukfazm-2NY4Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r9Tvo4KjEeukfazm-2NY4Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r9TvooKjEeukfazm-2NY4Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r9TvoIKjEeukfazm-2NY4Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r9TIkoKjEeukfazm-2NY4Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r9TIkYKjEeukfazm-2NY4Q" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_r9KlsIKjEeukfazm-2NY4Q" type="Transition" element="_r9OQEIKjEeukfazm-2NY4Q" source="_r9JXmYKjEeukfazm-2NY4Q" target="_r87VJIKjEeukfazm-2NY4Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_r9Ma4YKjEeukfazm-2NY4Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r9NpAYKjEeukfazm-2NY4Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r9NpAIKjEeukfazm-2NY4Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r9Ma4IKjEeukfazm-2NY4Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r9LMwoKjEeukfazm-2NY4Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r9LMwYKjEeukfazm-2NY4Q" points="[-5, 37, -7, -71]$[-5, 132, -7, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r9LMwIKjEeukfazm-2NY4Q" id="(0.475,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_r9HiYIKjEeukfazm-2NY4Q" type="Transition" element="_r9GURYKjEeukfazm-2NY4Q" source="_r87VJIKjEeukfazm-2NY4Q" target="_r9G7VoKjEeukfazm-2NY4Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_r9HiYYKjEeukfazm-2NY4Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r9HiYoKjEeukfazm-2NY4Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r9HiY4KjEeukfazm-2NY4Q" x="2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r9HiZIKjEeukfazm-2NY4Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r9HiZYKjEeukfazm-2NY4Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r9HiZoKjEeukfazm-2NY4Q" points="[24, -6, -103, 2]$[132, -24, 5, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r9HiZ4KjEeukfazm-2NY4Q" id="(0.803921568627451,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_r878MoKjEeukfazm-2NY4Q" type="Transition" element="_r88jRIKjEeukfazm-2NY4Q" source="_r87VJIKjEeukfazm-2NY4Q" target="_r87VJIKjEeukfazm-2NY4Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_r88jQYKjEeukfazm-2NY4Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r88jQ4KjEeukfazm-2NY4Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r88jQoKjEeukfazm-2NY4Q" x="36" y="19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r88jQIKjEeukfazm-2NY4Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r878NoKjEeukfazm-2NY4Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r878NYKjEeukfazm-2NY4Q" points="[-3, 0, -21, -6]$[-53, 0, -71, -6]$[-53, 47, -71, 41]$[21, 47, 3, 41]$[21, 11, 3, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r878NIKjEeukfazm-2NY4Q" id="(0.07547169811320754,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r878M4KjEeukfazm-2NY4Q" id="(0.4528301886792453,0.9056603773584906)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
